<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-title class="weather-title">Acerca de mí</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img src="assets/jesus.JPG" alt="Mi Foto">
    <ion-card-header>
      <ion-card-title>Jesús Adrián Travieso Fernández</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Email:</strong> traviesoj1215&#64;gmail.com</p>
      <p><strong>Teléfono:</strong> (809) 918-9236</p>
    </ion-card-content>
  </ion-card>
</ion-content>

